@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome the Admin page</h1>
    
    <div class="container mt-2 shadow">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <p class="card-text">Manage users</p>
                        <a href="/Users/List" class="btn btn-primary w-100">Go to Users</a>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <div class="container shadow mt-2">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Products</h5>
                        <p class="card-text">Manage products</p>
                        <a href="/Products/List" class="btn btn-primary w-100">Go to Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container shadow mt-2">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Orders</h5>
                        <p class="card-text">Manage products</p>
                        <a href="/Orders/List" class="btn btn-primary w-100">Go to Orders</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    
        
        
    
</div>
