@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome the Admin page</h1>
    <p class="mt-1 text-danger ">Crud your bling bling here!</p>


    <div class="grid-container list-group-item-primary">
        <button class="userButton btn-check" >Users</button>
        <button class="productButton" >Products</button>
        <button class="orderButton" >Orders</button>
        
    </div>
</div>
