@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome the Admin page</h1>
    <p class="mt-1 text-danger ">Crud your bling bling here!</p>


    <div class="d-grid">
        
    </div>
</div>
