@using E_CommerceMVCApi.Services
@model E_CommerceMVCApi.Models.User

    

@{
}


<h1>Welcome to the Userpage</h1>
<p>Read update add and delete</p>

<form>
    <div class="form-group">
        <label for="exampleInputUsername">Username</label>
        <input type="text" class="form-control" id="exampleInputUsername">

        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">        
        
    </div>   
       
    
</form>

<div class="form-group form-check">
    <button type="Add" id="addButton" class="btn btn-primary m-1">Add</button>
    <button type="Update" id="updateButton" class="btn btn-primary m-1">Update</button>
    <button type="Delete" id="deleteButton" class="btn btn-primary m-1">Delete</button>
</div>

 